<div class="row d-flex justify-content-evenly mb-4">
    <div class="col-4 col-sm-4">
        <p-knob [(ngModel)]="propertyValue" 
                [min]="MIN_MORTAGE" 
                [max]="MAX_MORTAGE" 
                [step]="100" 
                [size]="200"></p-knob>
    </div>
</div>
<h1 class="mt-4 text-md-start">Aporte inicial</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-12 col-md-4">
        <h3 class="text-edit-title text-md-start">
            Valor de entrada: 
        </h3>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center">
        <h2 class="text-edit subPropertyValue fixedInput">
            {{entryValue}}
        </h2>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <p-slider style="width:100%;" [(ngModel)]="entryValue" 
                                      [animate]="true" 
                                      [step]="100"
                                      [min]="MIN_ENTRY_CONTRIBUTE" 
                                      [max]="MAX_ENTRY_CONTRIBUTE"></p-slider>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4">
        <h3 class="text-edit-title text-md-start">
            Costes e impuestos: 
        </h3>
    </div>
    <div class="col-12 col-md-4">
        <h2 class="text-edit subPropertyValue fixedInput">
            {{taxAndCost}}
        </h2>
    </div>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-12 col-md-4">
        <h3 class="text-edit-title text-md-start">
            Total valor de entrada: 
        </h3>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center">
        <h1 class="text-edit subPropertyValue fixedInput">
            {{totalEntryAportation}}
        </h1>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <!--<p-slider style="width:100%;" [(ngModel)]="totalEntryAportation" 
                                      [min]="MIN_TOTAL_ENTRY_CONTRIBUTE" 
                                      [max]="MAX_TOTAL_ENTRY_CONTRIBUTE"></p-slider> -->
    </div>
</div>

<hr />

<h1 class="mt-4 text-md-start">Hipoteca</h1>
<hr />
<div class="row justify-content-start text-align-right">
    <div class="col-12 col-md-4">
        <h3 class="text-edit-title text-md-start">
            Importe de la Hipoteca: 
        </h3>
    </div>
    <div class="col-12 col-md-4">
        <h2 class="text-edit subPropertyValue fixedInput">
            {{mortageImport}}
        </h2>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-12 col-md-4">
        <h3 class="text-edit-title text-md-start">
            Porcentaje de la hipoteca: 
        </h3>
    </div>
    <div class="col-12 col-md-4">
        <h2 class="text-edit subPropertyValue fixedInput">
            {{mortagePercentage | number: '1.0-0'}} %
        </h2>
    </div>
    
</div>

<hr />

<div class="row justify-content-start justify-content-md-end">
    <div class="col-12 col-md-2">
        <h3 class="text-edit-title text-md-start">
            Años: 
        </h3>
    </div>
    <div class="col-12 col-md-4">
        <input class="text-edit subPropertyValue inputStyle" 
               [(ngModel)]="yearsToMortage" ngxOnlyNumber 
               [ngClass]="{'incorrectInputValue' : minMaxValueExceded(yearsToMortage, MIN_YEARS, MAX_YEARS)}"
               (blur)="validateTotalYearsValue()"/>
    </div>
    <div class="col-4 col-md-4 d-flex align-self-md-end">
        <p-slider style="width:100%;" [(ngModel)]="yearsToMortage" 
                                      [min]="MIN_YEARS" 
                                      [max]="MAX_YEARS"></p-slider>
    </div>
</div>

<!-- Dialogos de error -->

