<div class="row d-flex justify-content-evenly mb-4">
    <div class="col-4">
        <input class="text-edit propertyValue inputStyle" [(ngModel)]="propertyValue" ngxOnlyNumber [ngClass]="{'incorrectInputValue' : minMaxValueExceded(propertyValue, MIN_MORTAGE, MAX_MORTAGE)}" />
    </div>
    <div class="col-4">
        <mat-slider class="propertyValue-slider" [min]="MIN_MORTAGE" [max]="MAX_MORTAGE" step="500" (input)="sliderPropertyValue($event)">
            <input matSliderThumb>
        </mat-slider>
    </div>
</div>
<h1 class="mt-4 text-start">Aporte inicial</h1>
<hr />
<div class="row">
    <div class="col-4">
        <h3 class="text-edit-title">
            Valor de entrada: 
        </h3>
    </div>
    <div class="col-4">
        <input class="text-edit subPropertyValue inputStyle" [(ngModel)]="entryValue" ngxOnlyNumber [ngClass]="{'incorrectInputValue' : minMaxValueExceded(entryValue, MIN_ENTRY_CONTRIBUTE, MAX_ENTRY_CONTRIBUTE)}" />
    </div>
    <div class="col-4 d-flex justify-content-end">
        <mat-slider style ="width: 100%;" [min]="MIN_ENTRY_CONTRIBUTE" [max]="MAX_ENTRY_CONTRIBUTE" [(ngModel)]="entryValue" (input)="sliderEntryValue($event)">
            <input matSliderThumb>
        </mat-slider>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <h3 class="text-edit-title">
            Costes e impuestos: 
        </h3>
    </div>
    <div class="col-4">
        <h2 class="text-edit subPropertyValue">
            {{taxAndCost}}
        </h2>
    </div>
    <div class="col-4">
        <!-- <mat-slider min="4800" max="60000" [(ngModel)]="taxAndCost" (input)="sliderTaxAndCostValue($event)">
            <input matSliderThumb>
        </mat-slider> -->
    </div>
</div>

<hr />

<div class="row">
    <div class="col-4">
        <h3 class="text-edit-title">
            Total valor de entrada: 
        </h3>
    </div>
    <div class="col-4 d-flex justify-content-center">
        <input class="text-edit propertyValue inputStyle" #totalEntry 
            [(ngModel)]="totalEntryAportation" ngxOnlyNumber [ngClass]="{'incorrectInputValue' : minMaxValueExceded(totalEntryAportation, MIN_TOTAL_ENTRY_CONTRIBUTE, MAX_TOTAL_ENTRY_CONTRIBUTE)}" />
    </div>
    <div class="col-4 d-flex justify-content-end">
        <mat-slider style ="width: 100%;" [min]="MIN_TOTAL_ENTRY_CONTRIBUTE" [max]="MAX_TOTAL_ENTRY_CONTRIBUTE" [(ngModel)]="totalEntryAportation" (input)="sliderTotalAportationValue($event)">
            <input matSliderThumb>
        </mat-slider>
    </div>
</div>


<h1 class="mt-4 text-start">Hipoteca</h1>
<hr />
<div class="row">
    <div class="col">
        <h3 class="text-edit-title">
            Importe de la Hipoteca: 
        </h3>
    </div>
    <div class="col">
        <h2 class="text-edit subPropertyValue">
            {{mortageImport}}
        </h2>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col">
        <h3 class="text-edit-title">
            Porcentaje de la hipoteca: 
        </h3>
    </div>
    <div class="col">
        <h2 class="text-edit subPropertyValue">
            {{mortagePercentage | number: '1.0-0'}} %
        </h2>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col-4">
        <h3 class="text-edit-title">
            Años: 
        </h3>
    </div>
    <div class="col-4">
        <input class="text-edit subPropertyValue inputStyle" [(ngModel)]="yearsToMortage" ngxOnlyNumber [ngClass]="{'incorrectInputValue' : minMaxValueExceded(yearsToMortage, MIN_YEARS, MAX_YEARS)}"/>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <mat-slider style ="width: 100%;" [min]="MIN_YEARS" [max]="MAX_YEARS" [(ngModel)]="yearsToMortage" (input)="sliderYearsValue($event)">
            <input matSliderThumb>
        </mat-slider>
    </div>
</div>
