<div class="main_top animate__animated animate__backInRight">
    <div class="main_top_title-left">
        <img class="logoImage-large" src="../../../assets/logo.png" alt="timeclock">
        <img class="logoImage-short" src="../../../assets/logo-min.png" alt="timeclock">
        <div class="title">
            <h1>TimeClock</h1>
            <h5>Servicios hipotecarios</h5>
        </div>
    </div>

    <div class="main_top_title-right">
        <app-phone [phoneNumber]="'933838815'"></app-phone>
    </div>
</div>
