.form {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    form {
        width: 100%;
        fieldset {
            legend {
                text-align: center;
            }
        }

        div {
            .form-control, .form-select {
                width: 100%;
            }
        }
    }
    &__error {
        text-align: right;
    }
    &__btn {
        display: flex;
        justify-content: space-around;
        button {
            width: 40%;
        }
    }
}

@media(max-width: 576px) {
    .form {
        display: flex;
        justify-content: space-around;
        padding: 1em;
        form {
            width: 100%;
            div {
                label {
                    display: none;
                }
            }
        }
        &__btn {
            display: flex;
            justify-content: space-around;
            button {
                width: 40%;
            }
        }
    }

}