<div class="register">
    <app-top></app-top>
    <div class="register__formContainer">
        <ngx-register-form [image]="'assets/loginMujer.svg'" 
                           [title]="'¡REGISTRATE Y ENCUENTRA TU HIPOTECA IDEAL!'"
                           (onSubmit)="sumbit($event)"></ngx-register-form>
    </div>
</div>

<!-- Dialogo de notificaciones -->
<ngx-domo-dialog *ngIf="msg.check === true" [correct]="msg.isCorrect" [message]="msg.message" (onOkey)="msg.check = false"></ngx-domo-dialog>
