<div class="main">
        <app-top></app-top>
        <ng-container *ngIf="(showForm$ | async) === true">
            <div class="main__form">
                <app-contact-form></app-contact-form>
            </div>
        </ng-container>
        <app-dialog [correct]="(showDialog$ | async)!.state" [id]="'operationConfirmed'" *ngIf="(showDialog$ | async)!.id === 'OperationConfirm' && (showDialog$ | async)!.show === true"></app-dialog>
        <app-main-announcement></app-main-announcement>
        <div class="main__description">
            <h4>Avante hipoteca te consigue las mejores condiciones para la compra de tu vivienda</h4>
            <div class="main__description__boxes">
               <div class="main__description__boxes__box">
                    <app-text-box [title]="'Ahorra tiempo'" [text]="'Evita idas y venidas a oficinas bancarias. En pocos minutos te decimos si tu operación es viable.'"></app-text-box>
                </div>
                <div class="main__description__boxes__box">
                    <app-text-box [title]="'Ahorra dinero'" [text]="'Conseguimos el tipo de interes mas bajo posible según tus condiciones financieras.'"></app-text-box>
                </div>
                <div class="main__description__boxes__box">
                    <app-text-box [title]="'Ahorra trámites'" [text]="'Solicita ofertas de hasta 20 bancos a la vez sin moverte de casa. Nosotros hacemos toda la gestión por ti.'"></app-text-box>
                </div>
            </div>
        </div>
        <div class="main__frase">
            <h1 class="main__frase__h1">Consigue ofertas personalizadas de hasta 20 bancos, sin tener que pisar una oficina.</h1>
        </div>
        <div class="main__bancos">
            <div class="main__bancos__banco"><img src="assets/bancos/1.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/2.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/3.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/4.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/5.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/6.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/7.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/8.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/9.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/10.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/11.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/12.png" alt=""></div>
            <div class="main__bancos__banco"><img src="assets/bancos/13.png" alt=""></div>
        </div>
        <div class="main__expertos">
            <button type="button" class="btn btn-outline-info btn-lg" (click)="showForm()">Obtener ayudamos</button>
        </div>
</div>



<ng-container *ngIf="(showForm$ | async) === true">
    <div class="main__background"></div>
</ng-container>
