<div class="main">
        <app-top></app-top>
        <ngx-domo-navbar [itemList]="menuItems"></ngx-domo-navbar>
        <ng-container *ngIf="(showForm$ | async) === true">
            <ngx-domo-basic-dialog>
                <ngx-contact-form (onClose)="showForm(false)"
                              (onSubmit)="submit($event)"></ngx-contact-form>
            </ngx-domo-basic-dialog>
        </ng-container>
        <app-main-announcement></app-main-announcement>
        <div class="main__description">
            <div class="main__description__title">
                <h3>Avante hipoteca te consigue las mejores condiciones para la compra de tu vivienda</h3>
            </div>
            <div class="main__description__boxes">
               <div class="main__description__boxes__box">
                    <app-text-box [title]="'Ahorra tiempo'" [text]="'Evita idas y venidas a oficinas bancarias. En pocos minutos te decimos si tu operación es viable.'"></app-text-box>
                </div>
                <div class="main__description__boxes__box">
                    <app-text-box [title]="'Ahorra dinero'" [text]="'Conseguimos el tipo de interes mas bajo posible según tus condiciones financieras.'"></app-text-box>
                </div>
                <div class="main__description__boxes__box">
                    <app-text-box [title]="'Ahorra trámites'" [text]="'Solicita ofertas de hasta 20 bancos a la vez sin moverte de casa. Nosotros hacemos toda la gestión por ti.'"></app-text-box>
                </div>
            </div>
        </div>
        <div class="main__frase">
            <h3 class="main__frase__h3">Consigue ofertas personalizadas de hasta 20 bancos, sin tener que pisar una oficina.</h3>
        </div>
        <div class="main__bancos">
            <img src="assets/bancos.svg" alt="bancos">
        </div>
        <div class="main__expertos">
            <button type="button" class="btn btn-outline-info btn-lg" (click)="showForm(true)">Obtener ayudamos</button>
        </div>
</div>



<ng-container *ngIf="(showForm$ | async) === true">
    <div class="main__background"></div>
</ng-container>
