#moviledraw {
    width: 300px;
}
#movil {
    #santander {
        animation: santander 2s 2s both infinite;
    }
    #brokerRubio {
        animation: brokerRubio 2s 2s both infinite;
    }
    #brokerMoreno {
        animation: brokerMoreno 2s 2s both infinite;
    }
    #bbva {
        animation: bbva 2s 2s both infinite;
    }
    #grafico {

        & * {
            transform-box: fill-box;
            transform-origin: center bottom;
        }
        #g6 {
            fill:#50d93c;
            animation: g6 2s 2s both infinite;
        }

        #g5 {
            fill:#d9943c;
            animation: g5 2s 2s both infinite;
        }

        #g4 {
            transform: scaleY(0.8);
            fill:#d9943c;
            animation: g4 2s 2s both infinite;
        }

        #g3 {
            transform: scaleY(1.1);
            fill:#d9943c;
            animation: g3 2s 2s both infinite;
        }

        #g2 {
            transform: scaleY(0.3);
            fill:#d93c4c;
            animation: g2 2s 2s both infinite;
        }

        #g1 {
            transform: scaleY(0.5);
            fill:#d93c4c;
            animation: g1 2s 2s both infinite;
        }

    }
}

@keyframes santander {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,55px);
    }
    75% {
        transform: translate(0,114px);
    }
    90% {
        transform: translate(0,169px);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes brokerRubio {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,-55px);
    }
    75% {
        transform: translate(0,-55px);
    }
    100% {
        transform: translate(0,0px);
    }
}

@keyframes brokerMoreno {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,0);
    }
    75% {
        transform: translate(0,-55px);
    }
    100% {
        transform: translate(0,14px);
    }
}

@keyframes bbva {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,0);
    }
    75% {
        transform: translate(0,0);
    }
    90% {
        transform: translate(0,-169px);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes g6 {
    0% {
        fill:#50d93c;
        transform: scaleY(1);
    }
    50% {
        fill:#50d93c;
        transform: scaleY(0.8);
    }
    75% {
        fill:#d9943c;
        transform: scaleY(0.5);
    }
    90% {
        fill:#d93c4c;
        transform: scaleY(0.3);
    }
    100% {
        fill:#50d93c;
        transform: scaleY(0.8);
    }
}

@keyframes g5 {
    0% {
        
    }
    50% {
        fill:#50d93c;
        transform: scaleY(1.3);
    }
    75% {
        fill:#d9943c;
        transform: scaleY(1);
    }
    90% {
        fill:#d93c4c;
        transform: scaleY(0.7);
    }
    100% {
        fill:#d9943c;
        transform: scaleY(1);
    }
}

@keyframes g4 {
    0% {
    }
    50% {
        fill:#50d93c;
        transform: scaleY(1.9);
    }
    75% {
        fill:#d9943c;
        transform: scaleY(1);
    }
    90% {
        fill:#d93c4c;
        transform: scaleY(0.6);
    }
    100% {
        fill:#d9943c;
        transform: scaleY(1);
    }
}

@keyframes g3 {
    0% {
    }
    50% {
        fill:#d93c4c;
        transform: scaleY(0.2);
    }
    75% {
        fill:#d9943c;
        transform: scaleY(0.9);
    }
    90% {
        fill:#d93c4c;
        transform: scaleY(0.4);
    }
    100% {
        fill:#50d93c;
        transform: scaleY(1.3);
    }
}

@keyframes g2 {
    0% {
    }
    50% {
        fill:#d9943c;
        transform: scaleY(1.3);
    }
    75% {
        fill:#d93c4c;
        transform: scaleY(0.8);
    }
    90% {
        fill:#d9943c;
        transform: scaleY(1.2);
    }
    100% {
        fill:#50d93c;
        transform: scaleY(2);
    }
}

@keyframes g1 {
    0% {
    }
    50% {
        fill:#d9943c;
        transform: scaleY(1.2);
    }
    75% {
        fill:#d93c4c;
        transform: scaleY(0.1);
    }
    90% {
        fill:#d9943c;
        transform: scaleY(0.8);
    }
    100% {
        fill:#50d93c;
        transform: scaleY(1.8
        
        );
    }
}

@media(max-width: 576px) {
    #eWp3wfU2mOE1 {
        width: 90%;
    }
}