<!-- Step2 Solicitante -->
<p-tabView [styleClass]="'headerClass'">
    <p-tabPanel header="Solicitante">

    </p-tabPanel>
    <p-tabPanel *ngIf="petitionType === 'CONJUNTA'" header="Acompañante">
        
    </p-tabPanel>
</p-tabView>
<div class="col-7" [ngClass]="petitionType === 'INDIVIDUAL' ? 'col-md-12': 'col-md-6'">
    <h3 class="fw-bold">Solicitante</h3>
    <div>
        <ngx-init-data-form #solicitanteDataForm [title]="'SOLICITANTE'" (OnformStateChange)="checkForm($event)"></ngx-init-data-form>
    </div>
    <button *ngIf="petitionType === 'CONJUNTA'" class="btn btn-success" (click)="sameOtherForm('ACOMPANIANTE', solicitanteDataForm)">Igual que Acompañante</button>
</div>

<!-- Step2 Acompanante -->
<div *ngIf="petitionType === 'CONJUNTA'" class="col-7 mt-5 mt-md-0 col-md-6">
    <h3 class="fw-bold">Acompañante</h3>
    <div>
        <ngx-init-data-form #acompanianteDataForm [title]="'ACOMPANIANTE'" (OnformStateChange)="checkForm($event)"></ngx-init-data-form>
    </div>
    <button class="btn btn-success" (click)="sameOtherForm('SOLICITANTE', acompanianteDataForm)">Igual que Solicitante</button>
</div>
