<!-- Step3 Estado civil solicitante-->
<div class="col-6 col-md-12">
    <div class="mb-3">
        <ngx-select-list #estadoCivilSolicitante [listItems]="listSolicitant" (OnSelectItem)="setValue($event)"></ngx-select-list>
    </div>
    <button *ngIf="mortageData.petitionType === 'CONJUNTA'" class="btn btn-success" (click)="sameOtherCombo('ACOMPANIANTE', estadoCivilSolicitante)">Igual que Acompañante</button>
</div>


<!-- Step3 Estado civil acompanante -->
<div *ngIf="petitionType === 'CONJUNTA'" class="col-6 mt-5 mt-md-0 col-md-4">
    <div class="mb-3">
        <ngx-select-list #estadoCivilAcompaniante [listItems]="listAcompaniant"></ngx-select-list>
    </div>
    <button class="btn btn-success" (click)="sameOtherCombo('SOLICITANTE', estadoCivilAcompaniante)">Igual que Solicitante</button>
</div>

