@import '../../../assets/styles/variables';
.main__announcement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 15px;
    width: 100%;
    //background-image: url("../../../assets/casa.png");
    //background-size: cover;
    //background-image: linear-gradient(to bottom, #0099cc, #006699);   
    box-shadow: 0 0px 7px $color-secundario;
    flex-wrap: wrap;

    &__row1 {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 20px;
        flex-grow: 1;
    }

    &__container {
        &__form {
            text-align: center;
            display: flex;
            justify-content: center;
            width: 100%;
            &__small {
                display: none;
            }
            &__container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                iframe {
                    border-radius: 15px;
                    box-shadow: 0 0px 7px $color-secundario;
                }
            }
        }
    }

    &__title {
        color: white;
        align-self: center;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        &__leftButtons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 15px;
            margin-right: 26px;
        }

        &__rightButtons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 15px;
            margin-left: 26px;
        }



        h5 {
            color: lightgreen;
        }

    }

    &__boxes {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &__box {
        height: 200px;
        background-color: rgb(53,53,53);
        box-shadow: 0 0px 7px $color-secundario;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &__h3 {
            color: lightgreen;
            margin-bottom: 10px 0;
            text-align: center;
        }
        &__p {
            text-align: center;

            color: white;
        }
        
    }

}

@media(max-width: 1700px) {
    .main__announcement__boxes {
        display: none;
    }
}

@media(max-width: 1152px) {
    .main__announcement__container__form {
        display: none;
    }

    .main__announcement__container__form__small {
        display: flex;
        justify-content: left;
    }

    .main__announcement__boxes {
            display: flex;
            justify-content: center;
            text-align: center;
            row-gap: 40px;
        }
}

@media(max-width: 1082px) {
    .main__announcement {
        
        &__boxes {
            display: flex;
            justify-content: center;
            text-align: center;
            row-gap: 40px;
        }

        &__box {
            min-width: 377px;
        }

        &__title {
            
            &__leftButtons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 15px;
                margin-right: 26px;
            }
    
            &__rightButtons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 15px;
                margin-left: 26px;
            }
        }
    }
}

@media(max-width: 966px) {
    .main__announcement {
        flex-direction: column;
        align-items: center;
        &__row1 {
            flex-direction: row;
            justify-content: center;
        }
        &__boxes {
            display: none;
        }

        &__box {
            min-width: 377px;
        }

        &__title {
            
            &__leftButtons {
                display: flex;
                flex-direction: column;
                row-gap: 210px;
                margin-right: unset;
            }
    
            &__rightButtons {
                display: flex;
                flex-direction: column;
                row-gap: 210px;
                margin-left: unset;
            }
        }

    }
}


@media(max-width: 576px) {
    .main__announcement {
        flex-direction: column;
        align-items: center;

        &__row1 {
            flex-direction: row;
        }

        &__row1__title {
            display: none;
        }

        &__row1 {
            display: flex;
            justify-content: center;
        }

        &__boxes {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        &__box {
            display: none;
            width: 80%;
            margin: auto;
        }

        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 80%;

            &__leftButtons {
                display: flex;
                flex-direction: column;
                row-gap: 210px;
                margin-right: unset;
            }

            &__rightButtons {
                display: flex;
                flex-direction: column;
                row-gap: 210px;
                margin-left: unset;
            }

            &__animation {
                display: flex;
                justify-content: center;
            }
        }
    }

}