<div class="main__announcement animate__animated animate__backInLeft">
    <div class="main__announcement__row1">
        <div class="main__announcement__title">
            <h2>Te ayudamos a solicitar tu hipoteca</h2>
            <h5>Gratis y sin compromiso</h5>
            <div class="main__announcement__title__phone">
                <app-phone [phoneNumber]="'93383115'" 
                           [srcColor]="'call2.svg'" 
                           [textColor]="'lightgreen'"
                           [text]="''"></app-phone>
            </div>
        </div>

        <div class="main__announcement__container__form">
            <button type="button" class="btn btn-outline-info btn-lg" (click)="showForm()">Pedir Informacion</button>
        </div>

        <div class="main__announcement__box">
            <h3 class="main__announcement__box__h3">La manera mas rápida de conseguir la mejor hipoteca</h3>
            <p class="main__announcement__box__p">Nuestros expertos encontrarán la mejor hipoteca para ti, gratis y sin compromiso</p>
        </div>
    </div>
    <div class="main__announcement__container__form__small">
        <button type="button" class="btn btn-outline-info btn-lg" (click)="showForm()">Pedir Información</button>
    </div>
</div>
