<!-- Set Petition type -->
<ng-template #typeOfPetition>
    <app-type-of-petition class="row d-flex flex-md-row justify-content-center align-items-center" [data]="mortageDataManagement.petitionType" (OnSelectPetitionType)="setPetitionType($event)"></app-type-of-petition>
</ng-template>

<!-- Set basic information-->
<ng-template #basicInformation>
    <app-init-data-form class="row d-flex flex-md-row justify-content-center align-items-center" [petitionType]="this.mortageDataManagement.petitionType" (onSubmitData)="getInitData($event)"></app-init-data-form>
</ng-template>

<!-- Set civil state-->
<ng-template #civilState>
    <app-civil-state class="row d-flex flex-md-row justify-content-center align-items-center" [petitionType]="this.mortageDataManagement.petitionType"></app-civil-state>
</ng-template>

<!-- Set direction -->
<ng-template #directionForm>
    <app-country-of-residence class="row d-flex flex-md-row justify-content-center align-items-center" [petitionType]="this.mortageDataManagement.petitionType"></app-country-of-residence>
</ng-template>

<!-- Set sons -->
<ng-template #sons>
    <app-sons class="row d-flex flex-md-row justify-content-center align-items-center" [petitionType]="this.mortageDataManagement.petitionType"></app-sons>
</ng-template>

<!-- Set resident permit -->
<ng-template #residencePermit>
    <app-residence-permit class="row d-flex flex-md-row justify-content-center align-items-center" [petitionType]="this.mortageDataManagement.petitionType"></app-residence-permit>
</ng-template>

<!-- Set situation of current home -->
<ng-template #currentSituationHouse>
    <app-current-housing-situation class="row d-flex flex-md-row justify-content-center align-items-center" [petitionType]="this.mortageDataManagement.petitionType"></app-current-housing-situation>
</ng-template>

<!-- Set laboral situation -->
<ng-template #labSituation>
    <app-current-laboral-situation class="row d-flex flex-md-row justify-content-center align-items-center" [petitionType]="this.mortageDataManagement.petitionType"></app-current-laboral-situation>
</ng-template>

<!-- Set isUsually property -->
<ng-template #isUsuallyHouse>
    <app-is-usually-house class="row d-flex flex-md-row justify-content-center align-items-center"></app-is-usually-house>
</ng-template>

<!-- Set Property Value -->
<ng-template #propertyValue>
    <app-property-house-value class="row d-flex flex-md-row justify-content-center align-items-center"></app-property-house-value>
</ng-template>