<!-- Set Petition type -->
<ng-template #typeOfPetition>
    <app-ind-or-colective class="row d-flex flex-md-row justify-content-center align-items-center"></app-ind-or-colective>
</ng-template>

<!-- Set basic information-->
<ng-template #basicInformation>
    <app-init-data-form class="row d-flex flex-md-row justify-content-center align-items-center"></app-init-data-form>
</ng-template>

<!-- Set civil state-->
<ng-template #civilState>
    <div class="row justify-content-center">
        <app-civil-state class="row d-flex flex-md-row justify-content-center align-items-center"></app-civil-state>
    </div>
</ng-template>

<!-- Set direction -->
<ng-template #directionForm>
    <app-country-of-residence class="row d-flex flex-md-row justify-content-center align-items-center"></app-country-of-residence>
</ng-template>

<!-- Set sons -->
<ng-template #sons>
    <app-sons class="row d-flex flex-md-row justify-content-center align-items-center"></app-sons>
</ng-template>

<!-- Set resident permit -->
<ng-template #residencePermit>
    <app-residence-permit class="row d-flex flex-md-row justify-content-center align-items-center"></app-residence-permit>
</ng-template>

<!-- Set situation of current home -->
<ng-template #currentSituationHouse>
    <app-current-housing-situation class="row d-flex flex-md-row justify-content-center align-items-center"></app-current-housing-situation>
</ng-template>

<!-- Set laboral situation -->
<ng-template #labSituation>
    <app-current-laboral-situation class="row d-flex flex-md-row justify-content-center align-items-center"></app-current-laboral-situation>
</ng-template>

<!-- Set isUsually property -->
<ng-template #isUsuallyHouse>
    <app-is-usually-house class="row d-flex flex-md-row justify-content-center align-items-center"></app-is-usually-house>
</ng-template>

<!-- Set Property Value -->
<ng-template #propertyValue>
    <app-property-house-value class="row d-flex flex-md-row justify-content-center align-items-center"></app-property-house-value>
</ng-template>

<!-- Set Tipo de vivienda (obra nueva o existente) -->
<ng-template #kindOfHouse>
    <app-kind-of-house class="row d-flex flex-md-row justify-content-center align-items-center"></app-kind-of-house>
</ng-template>

<!-- Set estado actual de peticion (arras, tasacion etcc que tengo) -->
<ng-template #currentHiringState>
    <app-current-hiring-state class="row d-flex flex-md-row justify-content-center align-items-center"></app-current-hiring-state>
</ng-template>

<!-- Set direction -->
<ng-template #addressNewProperty>
    <app-country-of-residence class="row d-flex flex-md-row justify-content-center align-items-center"></app-country-of-residence>
</ng-template>

<!-- Set metros cuadrados de la casa -->
<ng-template #m2House>
    <app-m2-house class="row d-flex flex-md-row justify-content-center align-items-center"></app-m2-house>
</ng-template>

<!-- Set tipo de construccion duplex no duplex etc -->
<ng-template #kindOfConstruction>
    <app-kind-of-construction class="row d-flex flex-md-row justify-content-center align-items-center"></app-kind-of-construction>
</ng-template>

<!-- Set tienes o puedes conseguir aval? -->
<ng-template #isAval>
    <app-is-aval class="row d-flex flex-md-row justify-content-center align-items-center"></app-is-aval>
</ng-template>

<!-- Set has realizado la declaracion de renta el ultimo año en españa-->
<ng-template #isHaciendaLastYear>
        <app-is-do-hacienda-last-year class="row d-flex flex-md-row justify-content-center align-items-center"></app-is-do-hacienda-last-year>
</ng-template>

<!-- Set has realizado la declaracion de renta el ultimo año en españa-->
<ng-template #previousRequest>
    <app-previous-request class="row d-flex flex-md-row justify-content-center align-items-center"></app-previous-request>
</ng-template>