<div class="new_mortage">
    <h1>{{titles.get(currentStep)}}</h1>
    <div class="new_mortage__subtitle">
        
    </div>
    <div class="row d-flex flex-md-row justify-content-center align-items-center">
        <ng-container #container></ng-container>
    </div>
    <div class="buttons">
        <button class="btn btn-warning" *ngIf="+currentStep > 1" (click)="nextStep(-1)">Previous</button>
        <button class="btn btn-success" 
                *ngIf="+currentStep < numberOfSteps"
                [disabled]="currentStepIsCorrect === false"
                (click)="nextStep(+1)">Next</button>
        <button class="btn btn-success" 
                *ngIf="+currentStep === numberOfSteps" 
                [disabled]="currentStepIsCorrect === false"
                (click)="submit()">Finalize</button>
    </div>
</div>

<ng-template #EmptyTemplate></ng-template>


